body{
    background-color:white;
    width: auto;
}

.body-content{
    padding-left: 0px;
    padding-right: 0px;
}
h2#userRating{
    padding: 0px;
    font: bold 700 bolder;
    font-size: 22px;
}
h4#recipeTitle{
    font-size: 30px;
}
h5#recipeDetails{
    font-size:16px;
}
.jumbotron{
    background-color: white;
}
.nav.navbar-nav{
    padding-right: 10px;
}
/*Buttons*/
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.btn.btn-lg
{
    padding: 10px 40px;
}

.btn.btn-hero.btn-lg:hover
{
    background-color: #B8DBD9;
    border-color: #B8DBD9;
}
.btn.btn-primary{
    margin: 2px;
    color: #F1FAEE;
    background-color: #1D3557;
    border-color: #2980b9;
}
.btn-primary:hover{
    background: #42A5F5;  
    border-color: #29B6F6;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #2F4550;
    border-color: #2F4550;
    outline: none;
    margin: 20px auto;
}

.btn-circle{
    width: 30px;
    height: 30px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-glyphicon { 
    padding:1px; background:#ffffff; margin-right:4px;

}
.icon-btn { 
    padding: 3px 10px 5px 5px; border-radius:5px;

}
/*Social Media*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*Carousel*/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: url('Pictures/CookingCarousel0.jpg');
}
.fade-carousel .slides .slide-2 {
    background-image: url('Pictures/CookingCarousel1.jpg');
}
.fade-carousel .slides .slide-3 {
    background-image: url('Pictures/CookingCarousel2.jpg');
}

@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/*Overlays*/
.bg-overlay#recipes {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/recipeHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}
.bg-overlay#myRecipes {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/myRecipesHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}
.bg-overlay#shoppingCart {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/shoppingCartHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}
.bg-overlay#categories {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('Pictures/categoriesHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: auto;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}

/*Parallax*/
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 1000px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  font-weight: 700;
  padding-top: 300px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
    background-image: url('Pictures/FamilyCooking.jpg');
}

section.module.parallax-2 {
    background-image: url('Pictures/CookingTwo.jpg');
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 90px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 120px;
  }
}

/*Recipe Cards*/

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    image-rendering: auto;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
    max-height: 100px;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader img{
    height: 150px;
    width: 100%;
    image-rendering: auto;
    display: inline-block;
    padding-bottom: 10px;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card.rating-num{
    padding-bottom: 10px;
}

.card .rating{
    padding-bottom: 10px;
}

/*Links*/
#recipeLink{
    padding-left: 15px;
}
.container#header{
    padding:15px;
}
/*Recipe Details*/
.wrapper#recipeImage{
    width: 512px;
    height: 300px;
    image-rendering:auto;
    display:inline-block;
    padding-top: 10px;
}
.wrapper#recipeImage img{
    height: 100%;
    width: 100%;
    position:static;
}
.wrapper .glyphicon{
    position:relative;
    top: 30px;
    left: 475px;
}
.container#recipeDetails{
    background-color: #FFFCF2;
}
.col-sm-3#myRecipeTabs{
    padding: 20px;
}
.col-sm-3#myRecipeTabs img{
    padding-top: 20px;
    height: 256px;
    width: 256px;
}
.row#recipeDetailsFooter{
    vertical-align: bottom;
}
.row#recipeDescription{
    height: 126px;
}
.row#socialMediaButtons{
    padding-top: 40px;
}
.col-sm-12#recipeTabBox{
    position:static absolute;
}
.col-sm-8#customerTestimonials{
    position: relative;
}
.container#customerTestimonials{
    position: relative;
}
.col-sm-12#searchType{
    width: 100%
}
.card#recipeCards{
    background-color: #FFFCF2;
    position: relative;
}
.tab-content#recipeContent{
    padding: 25px;
    height: 300px;
    width: 100%;
    background-color: #FFFFFF;
    border-left: solid black thin;
    border-bottom: solid black thin;
    border-right: solid black thin;
    border-radius: 3px;
    position: relative;
}
.desc{
    height:40px;
}

/*Ratings Card*/
.row#ratingLine{
    width: 35px;
    line-height: 1px;
}

/*Home Page*/
.jumbotron#iconDisplay{
    padding: 50px;
    animation:ease-in;
}
.col-lg-3#homeIcons{
    padding: 40px;
}
.col-lg-3#homeIcons img {
    height: 128px;
    width: 128px;
    transition: all,ease-in;
}

.jumbotron-fluid#homeBody {
    padding-top: 40px;
    height: 900px;
    width: 100%;
    background-image: url('Pictures/cookingHome1.jpg');
    display:inline-block;
    background-repeat:no-repeat;
    background-size:cover;
}

.example-section {
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #ffffff;
    z-index: 1000;
    font-size: 10px;
    -moz-animation: fadeInBack 3s linear 20s backwards;
    -o-animation: fadeInBack 3s linear 20s backwards;
    -webkit-animation: fadeInBack 3s linear 20s backwards;
    animation: fadeInBack 3s linear 20s backwards;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.example-section:after{
    top:100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
}

.example-section p{
    -o-animation: ease-in-out 3s ease-in backwards;
    -webkit-animation: ease-in-out 3s ease-in backwards;
    -moz-animation: ease-in-out 3s ease-in backwards;
    animation: ease-in-out 3s ease-in backwards;
}

.example-section p.user-frame-1{
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.example-section p.user-frame-2{
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}

.example-section p.user-frame-3{
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
}

.example-section p.user-frame-4{
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

.example-section p.user-frame-5{
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    animation-delay: 16s;
}

.example-section p.alexa-frame-1{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay:1s;
}

.example-section p.alexa-frame-2{
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
}

.example-section p.alexa-frame-3{
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
}

.example-section p.alexa-frame-4{
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    -o-animation-delay: 13s;
    animation-delay: 13s;
}

.example-section p.alexa-frame-5{
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    animation-delay: 17s;
}

.alexa.user-speak .example-section{
    border-color: #777777
}

.alexa.user-speak .example-section:after{
    border-top-color: #777777;
}

.alexa.alexa-speak .example-section{
    border-color: #777777;
}

.alexa.alexa-speak .example-section:after{
    border-top-color: #777777;
}

.user-portfolio{
    margin-top: 20px;
    text-align: left;
    padding-left: 15px;
}

.user-portfolio img{
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.user-name{
    font-weight: bold;
}

.alexa-portfolio{
    margin-top: 20px;
    text-align: left;
    padding-left: 15px;
}

.alexa-portfolio img{
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.alexa-name{
    font-weight: bold;
}

/*Footer*/
footer { 
    background-color:#0c1a1e; 
    min-height:350px; 
    font-family: 'Open Sans', sans-serif;

}
.footerleft { 
    margin-top:50px; 
    padding:0 36px;

}
.logofooter {
     margin-bottom:10px; 
     font-size:25px; 
     color:#fff; 
     font-weight:700;

}
.footerleft h4{
    color:#55ACCC;
}
.footerleft h6{
    color:#55ACCC;
}
.footerleft p {
     color:#fff; 
     font-size:12px !important; 
     font-family: 'Open Sans', sans-serif; 
     margin-bottom:15px;

}
.footerleft p i {
     width:20px; 
     color:#999;

}
.footer-ul { 
    list-style-type:none;  
    padding-left:0px; 
    margin-left:2px;

}
.footer-ul li { 
    line-height:29px; 
    font-size:12px;

}
.footer-ul li a { 
    color:#a0a3a4; 
    transition: color 0.2s linear 0s, background 0.2s linear 0s; 
}
.footer-ul i {
     margin-right:10px;
}
.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s; 
    color:#55ACCC;
}
/*Front Page Animation*/
.flip-container {
	perspective: 1000px;
    position: relative;
    vertical-align: central;
}

.flip-container:hover .flipper, .flip-container.hover .flipper 
{
		transform: rotateY(180deg);
}

.flip-container img{
    max-width:100%;
}

.flip-container, .front, .back {
	width: 100%;
	height: 600px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
    width: 100%;
}

.back {
	transform: rotateY(180deg);
}