@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Family owned since 1923 with a proud history of taking Grandma's recipes and claiming them as our own. You thought Apple was bad at taking ideas!</p>
