@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 N Plankinton Ave<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    800.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">WhatSupport@HomeChef.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">TakeMyMoney@HomeChef</a>
    <strong>General:</strong> <a href="mailto:AllTheNope@Gmail.com">AllTheNope@Gmail.com</a>
</address>