@{
    ViewBag.Title = "Home Page";
}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="6000" id="bs-carousel">
    <div class="overlay"></div>
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Be creative</h1>
                    <h3>Your recipes, your home</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Your Recipes", "Index", "Recipes")</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Easy Bake</h1>
                    <h3>Search by how you feel</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Search Recipes", "Index", "Recipes")</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Personal Chef</h1>
                    <h3>Step by step voice instructions</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Instructions", "Index", "Recipes")</button>
            </div>
        </div>
    </div>
</div>

<section class="module parallax parallax-1">
    <div class="container">
        <h1>Your Recipes<br /><br />Your Legacy</h1>
    </div>
</section>

<section class="module content">
    <div class="container-fluid">
        <div class="row">
            <div id="homeIcons" class="col-lg-3">
                <h3 align="center">Create your own recipes</h3>
                <br />
                <center><img src="~/Content/Pictures/OtherIcons/ChefIcon.png" /></center>
                <br />
                <p align="center">Upgrade to 2001 by having all of<br />grandma's recipes online!<br />Easy to create and retrieve</p>
            </div>
            <div id="homeIcons" class="col-lg-3">
                <h3 align="center">Easy to use lookup</h3>
                <br />
                <center><img src="~/Content/Pictures/OtherIcons/CookbookIcon.png" /></center>
                <br />
                <p align="center">Easily lookup recipes you have<br />created and saved.<br />All in one spot!</p>
            </div>
            <div id="homeIcons" class="col-lg-3">
                <h3 align="center">Favorites on the go</h3>
                <br />
                <center><img src="~/Content/Pictures/OtherIcons/CookingIcon.png" /></center>
                <br />
                <p align="center">Want to claim to your friends<br />that what you cooked is yours?<br />Save your favorites!</p>
            </div>
            <div id="homeIcons" class="col-lg-3">
                <h3 align="center">Shop for Ingredients</h3>
                <br />
                <center><img src="~/Content/Pictures/OtherIcons/ShoppingCartIcon.png" /></center>
                <br />
                <p align="center">Digital technology is amazing!<br />Store recipe specific ingredients that you can retreive.</p>
            </div>
        </div>
    </div>
</section>

<section class="module parallax parallax-2">
    <div class="container">
        <h1>Lose the book<br /><br />Go Digital</h1>
    </div>
</section>

<section class="module content">
    <div class="container">
        <img src="~/Content/Pictures/AmazonAlexaDevices.png" />
        <div class="row">
            <div class="col-sm-6">
                <div id="alexa-example" class="alexa user-speak">
                    <div class="example-section">
                        <p class="user-frame-1">"Alexa,"<br />"Open Home Chef"</p>
                        <p class="user-frame-2"></p>
                        <p class="user-frame-3"></p>
                        <p class="user-frame-4"></p>
                        <p class="user-frame-5"></p>
                    </div>
                    <div class="user-portfolio">
                        <img src="~/Content/Pictures/Talking Person.png" />
                        <div class="user-basic">
                            <div class="user-name">You</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div id="alexa-example" class="alexa alexa-speak">
                    <div class="example-section">
                        <p class="alexa-frame-1">"Welcome to Home Chef."<br />"What type of recipe are you looking for today?"</p>
                        <p class="alexa-frame-2"></p>
                        <p class="alexa-frame-3"></p>
                        <p class="alexa-frame-4"></p>
                        <p class="alexa-frame-5"></p>
                    </div>
                    <div class="alexa-portfolio">
                        <img src="~/Content/Pictures/AmazonEcho.png" />
                        <div class="alexa-basic">
                            <div class="alexa-name">Amazon Alexa Enabled Device</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module parallax parallax-3">
    <div class="container">
        <h1>Coming Soon...</h1>
    </div>
</section>