@{
    ViewBag.Title = "Home Page";
}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel">
    <div class="overlay"></div>
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Be creative</h1>
                    <h3>Your recipes, your home</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Your Recipes", "Index", "Recipes")</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Easy Bake</h1>
                    <h3>Search by how you feel</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Search Recipes", "Index", "Recipes")</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Personal Chef</h1>
                    <h3>Step by step voice instructions</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Instructions", "Index", "Recipes")</button>
            </div>
        </div>
    </div>
</div>
<div id="iconDisplay" class="jumbotron-fluid">
    <div class="row">
        <div id="homeIcons" class="col-lg-3">
            <h4 align="center">Create your own recipes</h4>
            <center><img src="~/Content/Pictures/OtherIcons/ChefIcon.png" /></center>
            <br />
            <p align="center">Upgrade to 2001 by having all of<br />grandma's recipes online!<br />Easy to create and retrieve</p>
        </div>
        <div id="homeIcons" class="col-lg-3">
            <h4 align="center">Easy to use lookup</h4>
            <center><img src="~/Content/Pictures/OtherIcons/CookbookIcon.png" /></center>
            <br />
            <p align="center">Easily lookup recipes you have<br />created, saved, and recently used.<br />All in one spot!</p>
        </div>
        <div id="homeIcons" class="col-lg-3">
            <h4 align="center">Favorites on the go</h4>
            <center><img src="~/Content/Pictures/OtherIcons/CookingIcon.png" /></center>
            <br />
            <p align="center">Want to claim to your friends<br />that what you cooked is yours?<br />Save your favorites!</p>
        </div>
        <div id="homeIcons" class="col-lg-3">
            <h4 align="center">Add Ingredients to your cart</h4>
            <center><img src="~/Content/Pictures/OtherIcons/ShoppingCartIcon.png" /></center>
            <br />
            <p align="center">Digital technology is amazing!<br />Store recipe specific ingredients that you can retreive<br />This was created by a Millenial</p>
        </div>
    </div>
</div>
<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Content/Pictures/FamilyCooking.jpg" />
                    </div>
                    <div class="back">
                        <h1 align="center"><br /><strong>Fun for all ages!<br /><br />Use the Amazon Alexa to ask what type of ingredients, <br />description and more each recipe has!</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Content/Pictures/CookingTwo.jpg" />
                    </div>
                    <div class="back">
                        <h1 align="center"><br /><strong>Grandma's Recipes<br /><br />All in one spot for your recipes and others <br />be able to search by <br />category, ingredients, and more!</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
