@{
    ViewBag.Title = "Home Page";
}

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="overlay"></div>
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Be creative</h1>
                    <h3>Your recipes, your home</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Your Recipes", "Index", "Recipes")</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Easy Bake</h1>
                    <h3>Search by how you feel</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Search Recipes", "Index", "Recipes")</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Personal Chef</h1>
                    <h3>Step by step voice instructions</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">@Html.ActionLink("Instructions", "Index", "Recipes")</button>
            </div>
        </div>
    </div>
</div>