@model IEnumerable<HomeChef.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<div id="categories" class="container-fluid bg-overlay">
    <div class="row">
        <h1>Categories</h1>
        <br />
        <h4>Chooce your meal path<br />Dinner?? Dessert?? Search anyway you want</h4>
        <br />
        <br />
    </div>
</div>
<br />
<h2 align="center">Meal Times</h2>
<hr />
<div id="MealTime" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3"><a href="/Recipes?search=breakfast" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Breakfast.jpg" alt="Breakfast" style="max-width:100%; height:150px;"><h4 align="center">Breakfast</h4></a></div>
                <div class="col-md-3"><a href="/Recipes?search=brunch" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/brunch.jpg" alt="Brunch" style="max-width:100%; height:150px;"><h4 align="center">Brunch</h4></a></div>
                <div class="col-md-3"><a href="/Recipes?search=lunch" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Lunch.jpg" alt="Lunch" style="max-width:100%; height:150px;"><h4 align="center">Lunch</h4></a></div>
                <div class="col-md-3"><a href="/Recipes?search=dinner" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/dinner.jpg" alt="Dinner" style="max-width:100%; height:150px;"><h4 align="center">Dinner</h4></a></div>
            </div>
        </div>
    </div>
</div>
<br />
<h2 align="center">Meal Types</h2>
<hr />
<div id="MealType" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="item active">
                <div class="row">
                    <div class="col-md-3"><a href="/Recipes?search=appetizer" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Appetizer.jpg" alt="Appetizer" style="max-width:100%; height:150px;"><h4 align="center">Appetizers</h4></a></div>
                    <div class="col-md-3"><a href="/Recipes?search=dessert" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Dessert.jpg" alt="Dessert" style="max-width:100%; height:150px;"><h4 align="center">Desserts</h4></a></div>
                    <div class="col-md-3"><a href="/Recipes?search=drink" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Drink.jpg" alt="Drink" style="max-width:100%; height:150px;"><h4 align="center">Drinks</h4></a></div>
                    <div class="col-md-3"><a href="/Recipes?search=maincourse" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Main_Course.jpg" alt="Main Course" style="max-width:100%; height:150px;"><h4 align="center">Main Courses</h4></a></div>
                </div>
            </div>
            <br />
            <div class="item">
                <div class="row">
                    <div class="col-md-3"><a href="/Recipes?search=salad" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Salad.jpg" alt="Salad" style="max-width:100%; height:150px;"><h4 align="center">Salads</h4></a></div>
                    <div class="col-md-3"><a href="/Recipes?search=sidedish" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Side_Dish.jpg" alt="Side Dishes" style="max-width:100%; height:150px;"><h4 align="center">Side Dishes</h4></a></div>
                    <div class="col-md-3"><a href="/Recipes?search=snack" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Snack.jpg" alt="Snacks" style="max-width:100%; height:150px;"><h4 align="center">Snacks</h4></a></div>
                    <div class="col-md-3"><a href="/Recipes?search=soup" class="thumbnail"><img src="~/Content/Pictures/MenuPictures/Soup.jpg" alt="Soups" style="max-width:100%; height:150px;"><h4 align="center">Soups</h4></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
